{% extends 'common/base.html' %}

{% block content %}
<div class="container mt-4">
    {% if ads %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for ad in ads %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-img-container">
                        <img src="{{ ad.image.url }}" class="card-img-top" alt="{{ ad.title }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text text-muted">{{ ad.price|floatformat:2 }} $</p>
                        <p class="card-text">{{ ad.description }}</p>
                        <p class="card-text">
                            <a href="{% url 'user-details' pk=ad.author.pk %}" class="text-decoration-none">
                                <strong>{{ ad.author.first_name }} {{ ad.author.last_name }}</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">No ads available.</p>
    {% endif %}
</div>
{% endblock %}