{% extends 'common/base.html' %}

{% block content %}
    <div class="card h-100 mb-4">
        <div class="card-img-container">
            <img src="{{ ad.image.url }}" class="card-img-top" alt="{{ ad.title }}">
        </div>
        <div class="card-body">
            <a href="{% url 'ad-detail' pk=ad.pk %}" class="text-decoration-none">
                <h5 class="card-title">{{ ad.title }}</h5>
            </a>
            <p class="card-text text-muted">{{ ad.price|floatformat:2 }} $</p>
            <p class="card-text">{{ ad.description }}</p>
            <p class="card-text">Condition: {{ ad.get_condition_display }}</p>
            <p class="card-text">Likes: {{ ad.likes.count }}</p>
            <hr>
            <div class="card-text justify-content-between">
                <a href="{% url 'user-details' pk=ad.author.pk %}" class="text-decoration-none">
                    <strong>{{ ad.author.first_name }} {{ ad.author.last_name }}</strong>
                </a>

                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'ad-like' pk=ad.pk %}?next={% url 'ad-detail' pk=ad.pk %}">Like</a>
                        <a href="{% url 'ad-unlike' pk=ad.pk %}?next={% url 'ad-detail' pk=ad.pk %}" class="ms-2">Unlike</a>
                    </div>
                    <p class="d-flex justify-content-end mt-2"><a href="#">Send Message</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}