{% extends 'common/base.html' %}

{% block content %}
    <div class="container my-5">
        <h2 class="text-center text-primary mb-4">{{ user.first_name }} {{ user.last_name }}'s Uploaded Ads:</h2>
        {% if ads %}
        <ul class="list-group">
            {% for ad in ads %}
                <li class="list-group-item">
                    <a href="{% url 'ad-detail' pk=ad.pk %}" class="text-decoration-none text-dark fw-bold">
                        {{ ad.title }} <span class="text-muted">(Uploaded on {{ ad.created_at }}</span>)
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <h3 class="text-muted text-center">No uploaded ads</h3>     
        {% endif %}
    </div>
{% endblock %}