{% extends 'common/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body mb-5">
                <div class="text-center mb-3">
                    <img src="{{ user.profile.profile_image.url }}" alt="Profile Image" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <h3 class="text-center">{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-center text-muted">{{ user.email }}</p>
            
                {% if user.is_active %}
                    <p class="card-text text-center">Status: <span class="text-success">Active</span></p>
                {% else %}
                    <p class="card-text text-center">Status: <span class="text-danger">Inactive</span></p>
                {% endif %}
            
                {% if 'accounts.can_deactivate_accounts' in request.user.get_group_permissions %}
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{% url 'account-activate' pk=user.pk %}" class="btn btn-outline-success btn-sm">
                            Activate
                        </a>
                        <a href="{% url 'account-deactivate' pk=user.pk %}" class="btn btn-outline-danger btn-sm ms-2" >
                            Deactivate
                        </a>
                    </div>
                {% endif %}
            
                <p class="text-center"><strong>Ads Count:</strong> {{ user.ads.count }}</p>

                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Phone Number:</strong> {{ user.profile.phone_number|default:"N/A" }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Location:</strong> {{ user.profile.location|default:"N/A" }}</p>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        {% if request.user.id == user.id %}
                            <a href="{% url 'profile-update' pk=user.profile.pk %}" class="btn btn-primary mt-3">Update profile info</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}